@model Dierentuin.Models.Enclosure

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Enclosure</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Climate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Climate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class="col-sm-10">
            Animals in enclosure:
        </dt>
        @foreach(Animal animal in ViewBag.animals)
        {
            <dd class="col-sm-12">
                @animal.Name
            </dd>

        }
        @if (ViewBag.messages != null)
        {
            <hr />
            @foreach
            (string @Result in ViewBag.messages)
			{
                <dd class="col-sm-12">
					@Result
				</dd>
			}
        }
</div><hr />
<div>
    <a asp-action="Sunrise" asp-route-id="@Model?.Id">Sunrise</a>
    <a asp-action="Sunset" asp-route-id="@Model?.Id">Sunset</a>
    <a asp-action="FeedingTime" asp-route-id="@Model?.Id">Feeding Time</a>
    <a asp-action="CheckConstraint" asp-route-id="@Model?.Id">Check Constraint</a>
</div><hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
