@model Dierentuin.Models.Enclosure

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Enclosure</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.climate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.climate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.habitat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.habitat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.securityLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.securityLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class="col-sm-2">
            Animals in enclosure:
        </dt>
        @foreach(Animal animal in ViewBag.animals)
        {
            <dd class="">
                @animal.Name
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
